:root{
    --main-color: #13070C;
    --secondary-color:  #F2F5EA;
    --accent-color:  #D6DBD2;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 150px;
}