:root{
  --main-color: #13070C;
  --secondary-color:  #F2F5EA;
  --accent-color:  #D6DBD2;
}
.header {
  background:var(--main-color);
  height: 150px;
  width: 100%;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
}
