:root{
  --main-color: #13070C;
  --secondary-color:  #F2F5EA;
  --accent-color:  #D6DBD2;
}

.navbar {
  background:var(--main-color);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.navbar a { /*media query for phone size - font smaller and align text in center in the .navbar above*/
  color: var(--accent-color);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}
