:root{
    --main-color: #13070C;
    --secondary-color:  #F2F5EA;
    --accent-color:  #D6DBD2;
  }


.portfolio{
    display: flex;
    justify-content: center;
    margin-top: 80px; /*margin between projects and header*/
}

.project-card{ /*div that holds all the individual project divs*/
  display: flex;
  flex-wrap: wrap; /*wrap does what? */
  justify-content: center;
  align-items: center;
}

.single-project { /*put space between each project div*/
  margin: 2%;
  padding: 1%;
  border: solid 1px var(--accent-color);
  border-radius: 1%;
  
}

.single-project .github-link { /*centre github link text */
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
  border: solid 1px var(--accent-color);
  background-color: #D6CFCB
}